<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../src/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="display">
                <div class="input" id="input"></div>
                <div class="output">0</div>
            </div>
            <div class="buttons">
                <div class="row">
                    <button id="clear">C</button>
                    <button id="percent">%</button>
                    <button id="parentheses"></button>
                    <button id="divide" class="operator">÷</button>
                </div>
                <div class="row">
                    <button id="num7">7</button>
                    <button id="num8">8</button>
                    <button id="num9">9</button>
                    <button id="multiply" class="operator">×</button>
                </div>
                <div class="row">
                    <button id="num4">4</button>
                    <button id="num5">5</button>
                    <button id="num6">6</button>
                    <button id="minus" class="operator">-</button>
                </div>
                <div class="row">
                    <button id="num1">1</button>
                    <button id="num2">2</button>
                    <button id="num3">3</button>
                    <button id="plus" class="operator">+</button>
                </div>
                <div class="row">
                    <button id="dot">.</button>
                    <button id="num0">0</button>
                    <button id="delete"></button>
                    <button id="calculator">=</button>
                </div>
            </div>
        </div>
        <script src="../../src/js/calculator/index.js"></script>
        <script src="../../src/js/calculator/operator.js"></script>
        <script src="../../src/js/calculator/calculator.js"></script>
    </body>
</html>
